:root {
  --background: white;
  --foreground: black;
}
[data-theme='dark'] {
  --background: black;
  --foreground: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', "Raleway", sans-serif;
}
