div.main {
  padding: 60px;
  div.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    // padding: 20px;
    div.logo {
      padding-right: 100px;
      cursor: default;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    div.leftNav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin-right: 20px;
        transition: ease-in-out 0.2s;
        cursor: pointer;
        &:hover {
          transform: translate(-2px, -2px);
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
    div.rightNav {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          margin-right: 20px;
          list-style-type: none;
          font-weight: 700;
          a {
            i {
              color: black;
              font-size: 20px;
              transition: ease-in-out 0.2s;
              &:hover {
                transform: translate(-2px, -2px);
              }
            }
          }
        }
      }
    }
  }
  div.hiddenNav {
    display: none;
  }

  div.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    h1 {
      text-align: center;
      width: 40%;
      font-size: 4rem;
      font-weight: 500;
      //   text-transform: uppercase;
    }
  }
  div.mainBody {
    margin-top: 100px;
    display: flex;
    width: 100%;
    div.skills {
      padding-right: 30px;
    }

    div.leftContainer {
      width: 25%;
      h3 {
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
      }
      #biographyText {
        width: 70%;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: left;
        margin: 10px 0 20px 0;
        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.507);
        }
      }
      h4 {
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
      }
      #skills {
        margin-top: 100px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }
    div.frameOfMainPicture {
      width: 50%;
      border: 1px solid rgba(0, 0, 0, 0.17);
      height: 100vh;
      border-radius: 3rem;

      div.secondFrame {
        border: 1px solid rgba(0, 0, 0, 0.329);
        margin: 40px;
        height: 90%;
        border-radius: 3rem;
        background-image: url(https://media-exp2.licdn.com/dms/image/C4E03AQF2wWz2Yj7DJg/profile-displayphoto-shrink_800_800/0/1645646937841?e=1661385600&v=beta&t=iAt8v7GQic7joVtSky2aQYOGKlVlmn66v6uB8sYw1IU);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    div.rightContainer {
      width: 25%;
      padding-left: 100px;
      h3 {
        font-weight: 500;
        font-size: 2rem;
      }
      h4 {
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 15px;
      }
      #languages {
        margin-top: 200px;
        text-transform: uppercase;
      }
    }
  }
  div.contact {
    position: relative;
    display: flex;

    div.contactText {
      padding: 200px 200px 200px 150px;
      padding-right: 20rem;
      h2 {
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 20px;
      }
      div.social {
        display: flex;
        justify-content: space-between;
        div.twitter {
          margin: 70px 30px 0 0;
          a {
            display: flex;
            padding: 10px 20px 10px 20px;
            // background-color: #1c9bef;
            background-color: black;
            border: 1px solid rgba(0, 0, 0, 0.152);
            color: #fff;
            text-decoration: none;
            border-radius: 10% / 100%;
            cursor: pointer;
            transition: ease-in-out 0.2s;

            &:hover {
              background-color: white;
              color: black;
            }
          }
          i {
            padding-right: 15px;
          }
        }
      }
      div.github {
        margin: 70px 30px 0 0;
        a {
          display: flex;
          padding: 10px 20px 10px 20px;
          // background-color: #dd5035;
          background-color: black;
          border: 1px solid rgba(0, 0, 0, 0.152);
          color: #fff;
          text-decoration: none;
          border-radius: 10% / 100%;
          cursor: pointer;
          transition: ease-in-out 0.2s;

          &:hover {
            background-color: white;
            color: black;
          }
        }
        i {
          padding-right: 15px;
        }
      }
      div.linkedn {
        margin: 70px 0 0 0;
        a {
          display: flex;
          padding: 10px 20px 10px 20px;
          // background-color: #0b66c3;
          background-color: black;
          border: 1px solid rgba(0, 0, 0, 0.152);
          color: #fff;
          text-decoration: none;
          border-radius: 10% / 100%;
          cursor: pointer;
          transition: ease-in-out 0.2s;

          &:hover {
            background-color: white;
            color: black;
          }
        }

        i {
          padding-right: 15px;
        }
      }
    }
    div.contactForms {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      h3 {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        input {
          width: 100%;
          margin-bottom: 20px;
          padding: 10px;
          border: 1px solid rgba(0, 0, 0, 0.459);
          border-radius: 0.6rem;
        }
        button {
          margin-top: 20px;
          width: 100%;
          padding: 10px 70px 10px 70px;
          border: 1px solid black;
          border-radius: 0.6rem;
          background-color: black;
          color: white;
          font-weight: bold;
          font-size: 1.2rem;
          cursor: pointer;
          transition: ease-in-out 0.2s;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  div.main {
    width: 120vh;
    height: auto;
    display: flex;
    flex-direction: column;

    div.navBar {
      display: none;

      div.logo {
        display: none;
      }
      div.leftNav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          margin-right: 20px;
          transition: ease-in-out 0.2s;
          cursor: pointer;
          &:hover {
            transform: translate(-2px, -2px);
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
      div.rightNav {
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;

          li {
            margin-right: 20px;
            list-style-type: none;
            font-weight: 700;
            a {
              i {
                color: black;
                font-size: 20px;
                transition: ease-in-out 0.2s;
                &:hover {
                  transform: translate(-2px, -2px);
                }
              }
            }
          }
        }
      }
    }

    div.titleContainer {
      width: 100%;
      // justify-content: center;
      // align-items: center;
      // margin-top: 100px;
      // width: 100%;
      margin: 0 auto;
      h1 {
        // text-align: center;
        width: 40%;
        font-size: 5rem;
        font-weight: 400;
        //   text-transform: uppercase;
      }
    }
    div.mainBody {
      // margin-top: 100px;
      display: flex;
      width: 100%;
      flex-direction: column;
      div.leftContainer {
        width: 100%;
        margin-top: 10vh;
        h3 {
          font-weight: 400;
          font-size: 5rem;
          text-transform: uppercase;
        }
        #biographyText {
          width: 100%;
          height: 60vh;
          font-weight: 400;
          font-size: 4rem;
          text-align: left;
          margin: 10px 0 100px 0;
          border-bottom: 1px solid black;
          a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.507);
          }
        }
        h4 {
          font-weight: 100;
          font-size: 1.7rem;
          margin-top: 5px;
          // margin-bottom: 15px;
        }
        #skills {
          margin: 0;
          padding: 0;
        }
        div.skills {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          width: 100%;
          height: 30vh;
          margin: 0 auto;
          margin-top: 30px;
          margin-bottom: 100px;
          // padding: 10px;
          padding-bottom: 350px;
          border-bottom: 1px solid black;

          h4 {
            font-size: 4rem;
            font-weight: 400;
          }
        }
      }
      div.frameOfMainPicture {
        width: 70%;
        margin: 0 auto;
      }
      div.rightContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 100px 0 100px 0;
        height: auto;
        // padding-left: 100px;
        h3 {
          font-weight: 400;
          font-size: 5rem;
        }
        div.services {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 0 auto;
          padding: 0 0 100px 0;
          border-bottom: 1px solid black;
          h4 {
            font-weight: 400;
            font-size: 4rem;
            margin-top: 15px;
          }
        }
        div.languages {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 0 auto;
          padding: 0 0 100px 0;
          border-bottom: 1px solid black;
          h4 {
            font-weight: 400;
            font-size: 4rem;
            margin-top: 15px;
          }
        }
      }
    }
    div.contact {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      div.contactText {
        font-size: 2.5rem;
        font-weight: 400;
        padding: 100px 0 100px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: 1px solid black;
        margin-bottom: 100px;
        h2 {
          font-size: 5rem;
          font-weight: 400;
          // margin-bottom: 40px;
        }
        h3 {
          font-size: 4rem;
          font-weight: 400;
          // margin-bottom: 20px;
        }
        div.social {
          display: flex;
          justify-content: space-between;
          div.twitter {
            margin: 70px 30px 0 0;
            a {
              display: flex;
              padding: 20px 40px 20px 40px;
              background-color: #1c9bef;
              border: 1px solid rgba(0, 0, 0, 0.391);
              color: #fff;
              text-decoration: none;
              border-radius: 10% / 100%;
            }
            i {
              padding-right: 15px;
            }
          }
        }
        div.github {
          margin: 70px 30px 0 0;
          a {
            display: flex;
            padding: 20px 40px 20px 40px;
            background-color: #dd5035;
            border: 1px solid rgba(0, 0, 0, 0.391);
            color: #fff;
            text-decoration: none;
            border-radius: 10% / 100%;
          }
          i {
            padding-right: 15px;
          }
        }
        div.linkedn {
          margin: 70px 0 0 0;
          a {
            display: flex;
            padding: 20px 40px 20px 40px;
            background-color: #0b66c3;
            border: 1px solid rgba(0, 0, 0, 0.391);
            color: #fff;
            text-decoration: none;
            border-radius: 10% / 100%;
          }
          i {
            padding-right: 15px;
          }
        }
      }
    }
    div.contactForms {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      form {
        div.inputTitles {
          h3 {
            font-size: 4rem;
            font-weight: 400;
          }
        }
        div.emailInput {
          width: 60vh;
        }
        div.messageInput {
          width: 60vh;
        }
        div.nameInput {
          width: 60vh;
        }

        input {
          margin-top: 20px;
          width: 100%;
          padding: 10px;
          border: 1px solid black;
          border-radius: 0.6rem;
          background-color: black;
          color: white;
          font-weight: bold;
          font-size: 4rem;
          cursor: pointer;
          transition: ease-in-out 0.2s;

          &:hover {
            background-color: white;
            color: black;
          }
        }
        div.submitButton {
          width: 60vh;
          margin-bottom: 200px;
          margin-top: 100px;
          button {
            font-size: 3rem;
          }
        }
      }
    }
  }
}
