$background-color: #ffffff;
$foreground-color: #000000;
main.main {
  padding: 60px;
  width: 100%;
  overflow: hidden;

  div.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    div.logo {
      padding-right: 100px;
      cursor: default;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    div.leftNav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin-right: 20px;
        transition: ease-in-out 0.2s;
        cursor: pointer;

        &:hover {
          transform: translate(-2px, -2px);
        }

        a {
          text-decoration: none;
          color: $foreground-color;
        }
      }
    }

    div.rightNav {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          margin-right: 20px;
          list-style-type: none;
          font-weight: 700;

          a {
            i {
              color: $foreground-color;
              font-size: 20px;
              transition: ease-in-out 0.2s;

              &:hover {
                transform: translate(-2px, -2px);
              }
            }
          }
        }
      }
    }
  }

  div.hiddenNav {
    display: none;
  }

  div.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;

    h1 {
      text-align: center;
      width: 40%;
      font-size: 4rem;
      font-weight: 500;
    }
  }

  div.mainBody {
    margin-top: 100px;
    display: flex;
    width: 100%;

    div.skills {
      padding-right: 30px;
      margin-top: 150px;
    }

    div.leftContainer {
      width: 25%;

      h3 {
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
      }

      #biographyText {
        width: 70%;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: left;
        margin: 10px 0 20px 0;

        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.507);
        }
      }

      h4 {
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
      }

      #skills {
        margin-top: 100px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }

    div.frameOfMainPicture {
      position: relative;
      width: 50%;
      height: 1000px;
    }

    div.rightContainer {
      width: 25%;
      padding-left: 100px;

      h3 {
        font-weight: 500;
        font-size: 2rem;
      }

      h4 {
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 15px;
      }

      #languages {
        margin-top: 200px;
        text-transform: uppercase;
      }
    }
  }

  div.contact {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    div.contactText {
      width: 50%;
      padding-right: 300px;

      h2 {
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 40px;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 20px;
      }

      div.social_container {
        display: flex;
        justify-content: space-between;

        div.social {
          margin: 40px 10px 0 0;
          display: flex;
          justify-content: center;

          a {
            display: flex;
            align-items: center;
            padding: 10px 20px 10px 20px;
            background-color: black;
            border: 1px solid rgba(0, 0, 0, 0.152);
            color: #fff;
            text-decoration: none;
            border-radius: 10% / 100%;
            cursor: pointer;
            transition: ease-in-out 0.2s;

            &:hover {
              background-color: white;
              color: black;
            }
          }

          i {
            padding-right: 15px;
          }
        }
      }
    }

    div.contactForms {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      h3 {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        input {
          width: 300px;
          margin-bottom: 20px;
          padding: 12px;
          border: 1px solid rgba(0, 0, 0, 0.459);
          border-radius: 0.6rem;
        }

        textarea {
          width: 300px;
          padding: 12px;
          border: 1px solid rgba(0, 0, 0, 0.459);
          border-radius: 0.6rem;
        }

        button {
          margin-top: 30px;
          width: 300px;
          padding: 10px 70px 10px 70px;
          border: 1px solid black;
          border-radius: 0.6rem;
          background-color: black;
          color: white;
          font-weight: bold;
          font-size: 1.2rem;
          cursor: pointer;
          transition: ease-in-out 0.2s;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}

[data-theme="dark"],
[data-theme="dark"] body {
  $background-color: #ffffff;
  $foreground-color: #000000;
  div.navBar {
    div.leftNav {
      h3 {
        a {
          text-decoration: none;
          color: $background-color;
        }
      }
    }

    div.rightNav {
      ul {
        li {
          a {
            i {
              color: white;
            }
          }
        }
      }
    }
  }

  div.mainBody {
    div.leftContainer {
      #biographyText {
        a {
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 1208px) {
  main.main {
    div.contact {
      div.contactForms {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 1128px) {
  main.main {
    width: 100vh;

    div.navBar {
      div.rigthNav {
        ul {
          li {
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    @media only screen and (max-width: 800px) {
      main.main {
        font-size: 2rem;
      }

      div.contact {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        height: auto;
        margin-left: 20%;
        margin-top: 70px;

        div.contactText {
          width: 100%;
          text-align: center;
        }

        div.contactForms {
          margin-top: 70px;
          margin-right: 40%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  main.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    div.navBar {
      div.logo {
        display: none;
      }

      div.leftNav {
        display: none;
        align-items: center;
        justify-content: space-between;

        h3 {
          margin-right: 20px;
          transition: ease-in-out 0.2s;
          cursor: pointer;

          &:hover {
            transform: translate(-2px, -2px);
          }

          a {
            text-decoration: none;
            color: black;
          }
        }
      }

      div.rightNav {
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;

          li {
            display: none;
            margin-right: 20px;
            list-style-type: none;
            font-weight: 700;

            a {
              i {
                color: black;
                font-size: 20px;
                transition: ease-in-out 0.2s;

                &:hover {
                  transform: translate(-2px, -2px);
                }
              }
            }
          }
        }
      }
    }

    div.titleContainer {
      width: 100%;
      margin: 0;
      padding: 0;

      h1 {
        width: 100%;
        font-size: 3rem;
        font-weight: 400;
        font-family: "Cinzel", serif;
      }
    }

    div.mainBody {
      display: flex;
      width: 100%;
      flex-direction: column;

      div.leftContainer {
        width: 100%;

        h3 {
          font-weight: 400;
          font-size: 2.5rem;
          text-transform: uppercase;
          text-align: center;
        }

        #biographyText {
          width: 100%;
          height: auto;
          font-weight: 300;
          font-size: 1.5rem;
          text-align: center;
          margin: 10px 0 100px 0;
          border-bottom: 1px solid black;

          a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.507);
          }
        }

        h4 {
          font-weight: 100;
          font-size: 1.5rem;
          margin-top: 5px;
        }

        #skills {
          margin: 0;
          padding: 0;
        }

        div.skills {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: auto;
          margin-top: 20px;
          margin-bottom: 100px;
          border-bottom: 1px solid black;

          h4 {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
      }

      div.frameOfMainPicture {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 500px;
      }

      div.rightContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 100px 0 0 0;
        padding: 0;
        height: auto;

        h3 {
          font-weight: 400;
          font-size: 2.5rem;
          margin: 0;
          padding: 0;
        }

        div.services {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          margin: 0;
          padding: 0;
          border-bottom: 1px solid black;
          height: auto;

          h4 {
            font-weight: 300;
            font-size: 1.5rem;
            margin-top: 15px;
          }
        }

        div.languages {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 0;
          padding: 0;
          border-bottom: 1px solid black;
          height: auto;

          #languages {
            margin-top: 100px;
          }

          h4 {
            font-weight: 300;
            font-size: 1.5rem;
          }
        }
      }
    }

    div.contact {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-right: 0px;
      margin-right: 0px;
      margin-left: 0px;
      padding-left: 0px;
      margin-top: 100px;

      div.contactText {
        width: 100%;
        font-size: 2.5rem;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: 0px solid black;
        margin-bottom: 100px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;

        h2 {
          font-size: 2.5rem;
          font-weight: 400;
        }

        h3 {
          font-size: 1.5rem;
          font-weight: 300;
        }

        div.social_container {
          display: grid;
          grid-template-columns: 3;
          width: 100%;
          gap: 20px;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 50px 0 0 0;

          div.social {
            width: 100%;
            margin: 0px 0px 0 0;
            padding: 0;

            a {
              padding: 10;
              margin: 0;
              width: 150px;
              font-size: 1.3rem;
            }
          }

          border-bottom: 0px;
        }
      }

      div.contactForms {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0px;
        align-items: center;
        justify-content: center;

        form {
          width: 100%;

          div.inputTitles {
            h3 {
              font-size: 2.2rem;
              font-weight: 400;
            }
          }

          div.emailInput {
            width: 100%;
          }

          div.messageInput {
            width: 100%;
          }

          div.nameInput {
            width: 100%;
          }

          input {
            margin-top: 20px;
            width: 100%;
            border: 1px solid black;
            border-radius: 0.6rem;
            background-color: black;
            color: white;
            font-weight: medium;
            font-size: 1.2rem;
            cursor: pointer;
            transition: ease-in-out 0.2s;

            &:hover {
              background-color: white;
              color: black;
            }
          }

          div.messageInput {
            width: 100%;

            textarea {
              height: 300px;
              width: 100%;
              font-size: 1.2rem;
              background-color: black;
              color: white;
            }
          }

          div.submitButton {
            width: 100%;
            margin-bottom: 100px;
            margin-top: 50px;
            margin-left: 0;

            button {
              font-size: 1.5rem;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
