div.main {
  padding: 60px;
  width: 100%;

  div.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    div.logo {
      padding-right: 100px;
      cursor: default;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    div.leftNav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin-right: 20px;
        transition: ease-in-out 0.2s;
        cursor: pointer;

        &:hover {
          transform: translate(-2px, -2px);
        }

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    div.rightNav {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          margin-right: 20px;
          list-style-type: none;
          font-weight: 700;

          a {
            i {
              color: black;
              font-size: 20px;
              transition: ease-in-out 0.2s;

              &:hover {
                transform: translate(-2px, -2px);
              }
            }
          }
        }
      }
    }
  }

  div.hiddenNav {
    display: none;
  }

  div.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;

    h1 {
      text-align: center;
      width: 40%;
      font-size: 4rem;
      font-weight: 500;
      //   text-transform: uppercase;
    }
  }

  div.mainBody {
    margin-top: 100px;
    display: flex;
    width: 100%;

    div.skills {
      padding-right: 30px;
    }

    div.leftContainer {
      width: 25%;

      h3 {
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
      }

      #biographyText {
        width: 70%;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: left;
        margin: 10px 0 20px 0;

        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.507);
        }
      }

      h4 {
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
      }

      #skills {
        margin-top: 100px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }

    div.frameOfMainPicture {
      width: 50%;
      border: 1px solid rgba(0, 0, 0, 0.17);
      height: 100vh;
      border-radius: 3rem;

      &:hover {
        border: 1px solid black;
        transition: ease-in-out 0.3s;
      }

      div.secondFrame {
        border: 1px solid rgba(0, 0, 0, 0.329);
        margin: 40px;
        height: 90%;
        border-radius: 3rem;

        div.mainPicture {
          width: 100%;
          height: 100%;
          position: relative;

          img.profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          img.overlay {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            image-rendering: pixelated;
            object-fit: cover;
          }

        }
      }
    }

    div.rightContainer {
      width: 25%;
      padding-left: 100px;

      h3 {
        font-weight: 500;
        font-size: 2rem;
      }

      h4 {
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 15px;
      }

      #languages {
        margin-top: 200px;
        text-transform: uppercase;
      }
    }
  }

  div.contact {
    position: relative;
    display: flex;

    div.contactText {
      padding: 200px 200px 200px 150px;
      padding-right: 20rem;

      h2 {
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 40px;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 20px;
      }

      div.social {
        display: flex;
        justify-content: space-between;

        div.twitter {
          margin: 70px 30px 0 0;

          a {
            display: flex;
            padding: 10px 20px 10px 20px;
            // background-color: #1c9bef;
            background-color: black;
            border: 1px solid rgba(0, 0, 0, 0.152);
            color: #fff;
            text-decoration: none;
            border-radius: 10% / 100%;
            cursor: pointer;
            transition: ease-in-out 0.2s;

            &:hover {
              background-color: white;
              color: black;
            }
          }

          i {
            padding-right: 15px;
          }
        }
      }

      div.github {
        margin: 70px 30px 0 0;

        a {
          display: flex;
          padding: 10px 20px 10px 20px;
          // background-color: #dd5035;
          background-color: black;
          border: 1px solid rgba(0, 0, 0, 0.152);
          color: #fff;
          text-decoration: none;
          border-radius: 10% / 100%;
          cursor: pointer;
          transition: ease-in-out 0.2s;

          &:hover {
            background-color: white;
            color: black;
          }
        }

        i {
          padding-right: 15px;
        }
      }

      div.linkedn {
        margin: 70px 0 0 0;

        a {
          display: flex;
          padding: 10px 20px 10px 20px;
          // background-color: #0b66c3;
          background-color: black;
          border: 1px solid rgba(0, 0, 0, 0.152);
          color: #fff;
          text-decoration: none;
          border-radius: 10% / 100%;
          cursor: pointer;
          transition: ease-in-out 0.2s;

          &:hover {
            background-color: white;
            color: black;
          }
        }

        i {
          padding-right: 15px;
        }
      }
    }

    div.contactForms {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 100px;

      h3 {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        input {
          width: 100%;
          margin-bottom: 20px;
          padding: 10px;
          border: 1px solid rgba(0, 0, 0, 0.459);
          border-radius: 0.6rem;
        }

        textarea {
          padding: 20px;
        }

        button {
          margin-top: 20px;
          width: 100%;
          padding: 10px 70px 10px 70px;
          border: 1px solid black;
          border-radius: 0.6rem;
          background-color: black;
          color: white;
          font-weight: bold;
          font-size: 1.2rem;
          cursor: pointer;
          transition: ease-in-out 0.2s;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}

[data-theme="dark"] div.main {
  div.navBar {
    div.leftNav {
      h3 {
        a {
          color: white;
        }
      }
    }

    div.rightNav {
      ul {
        li {
          a {
            i {
              color: white;
            }
          }
        }
      }
    }
  }

  div.mainBody {
    div.leftContainer {
      #biographyText {
        a {
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 1208px) {
  div.main {
    div.contact {
      div.contactForms {
        // margin-right: 200px;
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 1128px) {
  div.main {
    width: 100vh;

    div.navBar {
      div.rigthNav {
        ul {
          li {
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    @media only screen and (max-width: 800px) {
      div.main {
        font-size: 2rem;
      }
    }

    div.contact {
      display: grid;
      position: relative;

      div.contactForms {
        margin-left: 25%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  div.main {
    width: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;

    div.navBar {
      // display: none;

      div.logo {
        display: none;
      }

      div.leftNav {
        display: none;
        align-items: center;
        justify-content: space-between;

        h3 {
          margin-right: 20px;
          transition: ease-in-out 0.2s;
          cursor: pointer;

          &:hover {
            transform: translate(-2px, -2px);
          }

          a {
            text-decoration: none;
            color: black;
          }
        }
      }

      div.rightNav {
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;

          li {
            display: none;
            margin-right: 20px;
            list-style-type: none;
            font-weight: 700;

            a {
              i {
                color: black;
                font-size: 20px;
                transition: ease-in-out 0.2s;

                &:hover {
                  transform: translate(-2px, -2px);
                }
              }
            }
          }
        }
      }
    }

    div.titleContainer {
      width: 100%;
      margin: 0 auto;

      h1 {
        width: 70%;
        font-size: 6rem;
        font-weight: 400;
        font-family: "Cinzel", serif;
      }
    }

    div.frameOfMainPicture {
      div.secondFrame {
        div.mainPicture {
          img.profile {
            object-fit: cover;
          }

          img.overlay {
            object-fit: cover;
          }
        }
      }
    }

    div.mainBody {
      display: flex;
      width: 100%;
      flex-direction: column;

      div.leftContainer {
        width: 100%;
        margin-top: 10vh;

        h3 {
          font-weight: 400;
          font-size: 5rem;
          text-transform: uppercase;
        }

        #biographyText {
          width: 100%;
          height: auto;
          font-weight: 400;
          font-size: 4rem;
          text-align: left;
          margin: 10px 0 100px 0;
          border-bottom: 1px solid black;

          a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.507);
          }
        }

        h4 {
          font-weight: 100;
          font-size: 1.7rem;
          margin-top: 5px;
        }

        #skills {
          margin: 0;
          padding: 0;
        }

        div.skills {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: auto;
          margin-top: 30px;
          margin-bottom: 100px;
          border-bottom: 1px solid black;

          h4 {
            font-size: 4rem;
            font-weight: 400;
          }
        }
      }

      div.frameOfMainPicture {
        width: 70%;
        margin: 0 auto;
      }

      div.rightContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 100px 0 100px 0;
        height: auto;

        h3 {
          font-weight: 400;
          font-size: 5rem;
        }

        div.services {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          margin: 0 auto;
          padding: 0 0 100px 0;
          border-bottom: 1px solid black;

          h4 {
            font-weight: 400;
            font-size: 4rem;
            margin-top: 15px;
          }
        }

        div.languages {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 0 auto;
          padding: 0 0 100px 0;
          border-bottom: 1px solid black;

          h4 {
            font-weight: 400;
            font-size: 4rem;
            margin-top: 15px;
          }
        }
      }
    }

    div.contact {
      flex-direction: column;
      align-items: center;
      width: 100%;

      div.contactText {
        width: 100vh;
        font-size: 2.5rem;
        font-weight: 400;
        padding: 100px 0px 100px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: 1px solid black;
        margin-bottom: 100px;

        h2 {
          font-size: 5rem;
          font-weight: 400;
        }

        h3 {
          font-size: 4rem;
          font-weight: 400;
        }

        div.social {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          div.twitter {
            margin: 70px 30px 0 0;

            a {
              display: flex;
              justify-content: center;
              padding: 20px 40px 20px 40px;
              background-color: #1c9bef;
              border: 1px solid rgba(0, 0, 0, 0.391);
              color: #fff;
              text-decoration: none;
              border-radius: 10% / 100%;
            }

            i {
              padding-right: 15px;
            }
          }
        }

        div.github {
          margin: 70px 30px 0 0;

          a {
            display: flex;
            justify-content: center;
            padding: 20px 40px 20px 40px;
            background-color: #dd5035;
            border: 1px solid rgba(0, 0, 0, 0.391);
            color: #fff;
            text-decoration: none;
            border-radius: 10% / 100%;
          }

          i {
            padding-right: 15px;
          }
        }

        div.linkedn {
          margin: 70px 30px 0 0;

          a {
            justify-content: center;
            display: flex;
            padding: 20px 40px 20px 40px;
            background-color: #0b66c3;
            border: 1px solid rgba(0, 0, 0, 0.391);
            color: #fff;
            text-decoration: none;
            border-radius: 10% / 100%;
          }

          i {
            padding-right: 15px;
          }
        }
      }


      div.contactForms {
        // width: 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        width: 50%;

        form {
          width: 100%;

          div.inputTitles {
            h3 {
              font-size: 4rem;
              font-weight: 400;
            }
          }

          div.emailInput {
            width: 50vh;
          }

          div.messageInput {
            width: 50vh;
          }

          div.nameInput {
            width: 50vh;
          }

          input {
            margin-top: 20px;
            width: 100%;
            border: 1px solid black;
            border-radius: 0.6rem;
            background-color: black;
            color: white;
            font-weight: medium;
            font-size: 2rem;
            cursor: pointer;
            transition: ease-in-out 0.2s;

            &:hover {
              background-color: white;
              color: black;
            }
          }

          div.messageInput {
            // width: 100vh;

            textarea {
              // width: 100vh;
              height: 300px;
              width: 110%;
              font-size: 2rem;
            }
          }



          div.submitButton {
            width: 60vh;
            margin-bottom: 200px;
            margin-top: 100px;

            button {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
}